<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">Línea</th>
          <th class="h4" style="width: 40%">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of vehicles">
          <td>
            <dd class="bold-dd">{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.marca}}</dd>
          </td>
          <td>
            <dd>{{c.linea}}</dd>
          </td>
          <td>
            <dd>{{c.modelo}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <div *ngFor="let marca of marcaArray">
      Total {{marca}}: {{vehicleCountsByMarca[marca]}}
    </div>
  </div>
</div>
